body {
    color: #009900;
}

.container {
    background-color: #ccffcc;
    margin: auto;
    width: 750px;
}


.namebox {
    width: 45%;
    padding: 10px 10px;

}

.email {
    display: flex;

}

.namebox1 {
    width: 94%;
    padding: 10px 10px;
    margin-top: 10px;

}

.namebox2 {
    width: 45%;
    padding: 10px 10px;
    margin-top: 10px;

}

.namebox3 {
    width: 45%;
    padding: 10px 10px;
    margin-top: 10px;

}


.boxsubmit {
    text-align: center;
    margin-top: 10px;
}

.boximg {
    background-color: green;
    border-radius: 30px;
    padding: 10px 30px;
    border: none;
    color: white;
}