.container{
  display: flex;
}

.container div {
  flex: 1;
}

#pic {
    margin-right: 6%;
    margin-top: 3%;
  
}

#box1{
  height: max-content;
  border: solid black 7px;
  margin-top: 10%;
  text-align: right;
  font-size: 25px;
  border-right: none;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-top: -5%;
  font-size: 20px;
  font-family: 'Alata', sans-serif;
}

#text1{
  font-size: smaller;
  text-align: right;

}
#text2{
  font-size: smaller;
  text-align: right;

}

#text3{
  font-size: smaller;
  text-align: right;

}


