.container{
  display: flex;
}

.container div {
  flex: 1;
}

#example1 {
  margin-block: 100px;
  border-left: none;
  border: solid black 7px;
  width: 300px;
  height: 350px;
  margin-left: -30px;
  padding-left: 40px;

  }

  #example2 {
    width: 300px;
    margin-left: 110px;
    margin-right: 100px;
  }

  h1 {
    margin-left: 20px;
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 1px;
}

p {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: 10px;

}
