.heading1 {
  border: solid black 8px;
  border-top: none;
  text-align: center;
  padding: 1px;
  margin-left: 460px;
  margin-right: 460px;
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

.bigbox{
  margin-top: 5%;
  display: flex;
  flex: 1;
  gap: 75px;
  justify-content: center;
  text-align: center;
}

.box1{
  margin-top: 3%;
  font-family: 'Questrial', sans-serif;
}

.box1 h5{
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
}


