.container{
  display: flex;
}

.container div {
  flex: 1;
}

  body {
    background-color: black;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

  #example1 {
    text-align: center;
    color: white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    }

    #example2 {
      border-right: 3px solid white;
      padding-left: 3%;
      padding-right: 3%;
      width: fit-content;
    }
  
  h1 {
      font-size: 50px;
      font-family: 'Playfair Display', serif;
  }
  
  p {
      font-family: 'Open Sans', sans-serif;
      font-size: 22px;
  }  
   