#container {
    background-color: #F1F1F1;
    max-width: 1024px;
    margin: auto;
}

.header {
    background-color: #F1F1F1;
    border: solid black 2px;
    text-align: center;
    padding: 20px;
}

#name {
    margin-top: 1px;
}

.topnav {
    display: flex;
    background-color: #333;
    justify-content: space-between;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.navlink {
    display: flex
}

#menu {
    display: flex;
}

.row {
    display: flex;
}

.column {
    width: 33.33%;
}

#column1 {
    width: 44.44%;
}


.row1 {
    display: flex;
    justify-content: center;
}

.column2 {
    width: 100%;
    text-align: center;
}

.row2 {
    display: flex;
    justify-content: center;

}

.column3 {
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    #column1 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .row1 {
        flex-direction: column;
    }

    .column2 {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .row2 {
        flex-direction: column;
    }

    .column3 {
        width: 100%;
    }
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}